<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<style>
    #capture {
        width: 80%;
    }
</style>

<body>
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="">Nombres</label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellidos</label>
                    <input id="last_name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Cédula</label>
                    <input id="dni" type="text" class="form-control">
                </div>
                <div class="form-group mt-3 mx-auto text-center">
                    <video id="capture" autoplay></video>
                </div>
                <div class="form-group text-center">
                    <button id="btnCap" class="btn btn-sm btn-success">Capturar</button>
                    <button id="btnReset" class="btn btn-sm btn-warning" style="display: none;">Reiniciar</button>
                </div>
                <div class="form-group mt-3 mx-auto text-center">
                    <button id="create" class="btn btn-primary btn-block shadow">CREAR</button>
                </div>
            </div>
        </div>
    </div>
    <canvas id="canvas" class="d-none"></canvas>

    <script>
        const { ipcRenderer } = require('electron')

        window.$ = require('jquery')

        const video = document.getElementById('capture');

        var img = ''

        async function startCamera() {
            const stream = await navigator.mediaDevices.getUserMedia({ video: true })
            video.srcObject = stream
        }

        startCamera();

        $('#btnCap').on('click', () => {
            $('#btnCap').hide();
            $('#btnReset').show();
            video.pause();
            var canvas = document.getElementById('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0, video.videoWidth, video.videoHeight);

            img = canvas.toDataURL('image/png');

        })

        $('#btnReset').on('click', () => {
            $('#btnReset').hide();
            $('#btnCap').show();
            video.play();
        })

        $('#create').on('click', () => {
            ipcRenderer.send('create-user', {
                name: $('#name').val(),
                last_name: $('#last_name').val(),
                dni: $('#dni').val(),
                image: img
            });
        })

    </script>
</body>

</html>